@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
} 